strands-agents==1.13.0
bedrock-agentcore-starter-toolkit==0.1.26
strands-agents-tools==0.2.12
boto3==1.40.53
python-dotenv==1.1.1
mcp==1.18.0
awslabs-aws-documentation-mcp-server==1.1.9
langfuse==2.60.9
opentelemetry-exporter-otlp==1.38.0